<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kudelich.testclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bsu"
        android:label="BSU"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activities.Profile"
            android:label="Профиль" />
        <activity
            android:name=".activities.MySchedule"
            android:label="Моё расписание" />
        <activity
            android:name=".activities.Schedule"
            android:label="Расписание"
            android:parentActivityName=".activities.Groups" />
        <activity
            android:name=".activities.Groups"
            android:label="Группа"
            android:parentActivityName=".activities.Courses" />
        <activity
            android:name=".activities.Courses"
            android:label="Курс"
            android:parentActivityName=".activities.Faculties" />
        <activity
            android:name=".activities.Faculties"
            android:label="Факультет" />
        <activity android:name=".activities.Login"
            android:label="BSU">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>